extends home.pug

block title
  title #{cfg.pageTitle} - Gateway

block content
  if loggedInAs
      h3 Logged in as: #{loggedInAs}
      form(action='/gatewayLogout' method='post' class="config-form")
        button(type="submit", class="sidebarbutton") Logout
  else
    if gatewayCfg.gatewayTitle
      h2 !{gatewayCfg.gatewayTitle}
    if gatewayCfg.gatewayText
      h3 !{gatewayCfg.gatewayText}

  if !loggedInAs && gatewayCfg.adminUser
    form(action='/gatewayLogin' method='post' class="config-form")
      span Username:
      input(type='text' id='username' name='username' required)
      br
      span Password:
      input(type='password' id='password' name='password' required)
      br
      input(type='submit' value='Login')  

  include manage.pug