:root {
  --embed-width: 250px;
  --embed-height: 250px;
  --sidebar-width: 300px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0b3b3; 
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  scrollbar-gutter: stable both-edges;
  overflow-wrap: break-word
}

.container {
  text-align: center; 
}

a {
  color: #1976D2;
  text-decoration: none;
  overflow-wrap: anywhere;
}

a:visited {
  color: #6a1b9a;
  text-decoration: none;
}

a:hover {
  color: #cddc39;
  text-decoration: underline;
}


h1 {
  color: #2b4868; 
}

p {
  color: #667051; 
}

.sidebarbutton {
  background-color: #ff827a; 
  border: none;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebarbutton:hover {
  background-color: #ff5f55; 
}

.post {
  background-color: #b3b3ff;
  overflow-wrap: anywhere;
  display: inline-block; 
  padding: 10px; 
  margin-bottom: 5px; 
  margin-top: 5px; 
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2); 
}

.post_reply {
  background-color: #ff9999;
  overflow-wrap: anywhere;
  display: inline-block; 
  padding: 10px; 
  margin-bottom: 5px; 
  margin-top: 5px; 
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2); 
}

.wrapper {
  display: flex;
}

.content {
  padding: 10px 20px;
/*  color: #ddd;*/
  margin-right: calc(var(--sidebar-width) + 40px);
}

.sidebar {
  width: var(--sidebar-width); 
  padding: 20px; 
  background-color: #9985b9; 
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0;
  overflow: auto;
}

.sidebar-header {
  margin-bottom: 5px;
  margin-top: 5px;
}


.post-form {
  width: 100%;
}

.config-form {
  max-width: 250px;
}

.post-form input, .config-form input {
  width: 100%;
  display: inline-block;
  background-color: #f0b3b3;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
}

.control-panel select, .control-panel select option {
/*  color: #f0b3b3;*/
  background-color: #f0b3b3;
  max-width: 150px;
}

.post-form textarea, .config-form textarea {
  width: 100%;
  display: inline-block;
  background-color: #f0b3b3;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
  height: 150px;
}

.control-panel input {
  width: 100%;
  display: inline-block;
  background-color: #ffb3b3;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
}


.post-header {
  margin-top: 0px;
  margin-bottom: 5px;

}

.subject {
  color: #0a224e; 
  margin-right: 5px;
}

.name {
  color: #c5392d; 
  margin-right: 5px;
}

.namewithlink {
  color: #8a2bc2; 
  margin-right: 5px;
}

.date {
  color: #396432; 
  margin-right: 5px;
}


.post-hash-clickable:hover {
  color: #81c784;
  text-decoration: underline;
  cursor: pointer;
}


.reply-link {
  margin-left: 5px;
}

.message {
  color: #191970; 
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin-top: 0px;
  margin-bottom: 0px;
}


.post-quote {
  color: #1976D2;
}

.post-quote:visited {
  color: #1976D2;
}

.post-quote:hover {
  color: #1976D2;
}

.message-quote {
  margin-top: 0px;
  margin-bottom: 0px;
  color: blue; 
}

.email {
  color: #6a4585; 
}

.replyingsonoinput {
  background-color: #FFC0CB; 
  color: #999; 
  cursor: not-allowed; 
}

.omittedreplies {
  
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.alert {
  background-color: #ffcc00; 
  color: #7a2315; 
  border: 2px solid #ff3300; 
  margin-top: 20px;
  border-radius: 10px; 
  padding: 10px; 
  font-size: 1.2em; 
  font-family: 'Comic Sans MS', cursive, sans-serif; 
  text-align: left;      
  display: inline-block; 
  box-shadow: 0 0 10px rgba(122, 35, 21, 0.5); 
  animation: shake 0.3s infinite alternate; 
}

@keyframes shake {
  from { transform: translateX(-5px); }
  to { transform: translateX(5px); }
}

.board-stats-table {
  text-align: center;
}

.dividing-line {
  border: 0; 
  height: 2px; 
  background-color: #b65ecf; 
  margin-bottom: 5px; 
  margin-top: 5px;
}

.embedded-files, .embedded-nothing {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 0px;
}

.embedded-file {
  flex: 0 0 auto;
/*  margin-right: 10px;*/
  margin-bottom: 0px;
}

.embedded-file + .embedded-file {
  margin-left: 5px;
}

.embedded-nothing {
  margin-bottom: 0px;
  margin-top: 0px
}


.embedded-info {
  overflow-wrap: anywhere;
  max-width: var(--embed-width);
  margin-bottom: 5px;
  margin-top: 0px
}

.embedded-image {
  max-width: var(--embed-width);
  max-height: var(--embed-height);
  margin-top: 0px;
  cursor: pointer; 
}

.embedded-image.expanded {
  max-width: calc(100vw - var(--sidebar-width) - 120px);
  max-height: 100%;
}

.post.deletion-mode:hover::after {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5); 
  border: 2px solid red; 
  box-sizing: border-box;
  pointer-events: none; 
}

.post.deletion-mode:hover {
  position: relative; 
}

.post.deletion-mode * {
  pointer-events: none; 
}

.post_reply.deletion-mode:hover::after {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5); 
  border: 2px solid red; 
  box-sizing: border-box;
  pointer-events: none; 
}

.post_reply.deletion-mode:hover {
  position: relative; 
}

.post_reply.deletion-mode * {
  pointer-events: none; 
}


.embedded-file.deletion-mode:hover::after {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5); 
  border: 2px solid red; 
  box-sizing: border-box;
  pointer-events: none; 
}

.embedded-file.deletion-mode:hover {
  position: relative; 
}

.embedded-file.deletion-mode * {
  pointer-events: none; 
}

.watched-board {
  margin-left: 5px; 
}

.delete-link {
  display: inline;
  margin-right: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: none;
  color: #8B0000; 
  font-weight: bold; 
}

.clientid {
  overflow-wrap: anywhere;
  color: #003bdf;
}


.file-icon {
  font-size: 50px; 
}

.file-not-found-icon {
  font-size: 50px; 
}

.green {
    color: green;
}

.red {
    color: red;
}