:root {
  --embed-width: 250px;
  --embed-height: 250px;
  --sidebar-width: 300px;
}

body {
  font-family: serif;
  background-color: black;
  color: #eee;
  margin: 0;
  padding: 0;
  display: flex;
  scrollbar-gutter: stable both-edges;
  overflow-wrap: anywhere;
}

a {
  color: #88c;
  text-decoration: none;
  overflow-wrap: anywhere;
}

a:visited {
/*  color: #9575cd;*/
  text-decoration: none;
}

a:hover {
  color: #bbf;
  text-decoration: underline;
}

h1 {
  color: #86c5da;
}

p {
/*  color: #a3cea6;*/
}

.container {
  text-align: center;
}

.sidebarbutton {
    font-family: serif;
  background-color: black;
  border: 1px solid #888;
  color: #eee;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
/*  font-size: 16px;*/
  margin: 4px 2px;
  cursor: pointer;
/*  border-radius: 2px;*/
}

.sidebarbutton:hover {
/*  background-color: #3c3c3c;*/
}

.post, .post_reply {
  flex: 1;
/*  background-color: #EEAA88;*/
/*  color: #800000;*/
/*  border-top: 1px solid #50c;*/
/*  border-left: 1px solid #50c;*/
  display: inline-block;
  overflow-wrap: anywhere;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 100%;
}

.post a, .post_reply a {
  overflow-wrap: anywhere;
  max-width: 50%;
}

.post_reply {
/*  border: 1px solid #355;*/
  border-top: 1px solid #577;
  border-left: none;
}

.wrapper {
  display: flex;
}

.content {
/*  flex: 1;*/
/*  width: calc(100vw - var(--sidebar-width);*/
/*  max-width: calc(100vw - (var(--sidebar-width) + 20px));*/
/*  width: 100%;*/
  padding: 10px 20px;
/*  color: #ddd;*/
  margin-right: calc(var(--sidebar-width) + 40px);
}

.sidebar {
  width: var(--sidebar-width);
  padding: 20px;
  border-left: 1px solid #888;
/*  background-color: #444;*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.sidebar-header {
/*  background-color: #eeaa88;*/
  margin-bottom: 5px;
  margin-top: 5px;
}


.post-form {
  width: 100%;
}

.config-form {
  max-width: 250px;
}


input {
  color: #eee;
  background-color: #000;
  border: 1px solid #888;
  font-family: serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-form input, .config-form input {
  width: 100%;
  display: inline-block;
}

.post-form textarea, .config-form textarea {
  width: 100%;
  display: inline-block;
  border: 1px solid #888;
  font-family: serif;
  background-color: #000;
  color: #eee;
  margin-top: 5px;
  margin-bottom: 5px;
/*  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);*/

  height: 150px;
}

.post-form span, .config-form span,
.post-form button, .config-form span {
  width: 100%;
  display: inline-block;
}

.control-panel input {
  width: 100%;
  display: inline-block;
  background-color: #444;
  color: #ddd;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
/*  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);*/
}

.control-panel select, .control-panel select option {
  color: #eee;
  background-color: #000;
  font-family: serif;
  max-width: 150px;
}

.post-header {
  margin-top: 0px;
  margin-bottom: 5px;
}

.subject {
/*  font-weight: bold;*/
  color: #5cc;
  margin-right: 5px;
  overflow-wrap: anywhere;
}

.name {
  color: #a6a;
/*  font-weight:bold;*/
  margin-right: 5px;
}

.namewithlink {
/*  color: #ba68c8;*/
  font-weight:bold;
  margin-right: 5px;
}

.date {
/*  color: #81c784;*/
  margin-right: 5px;
}

.post-hash {
/*  color: #800000;*/
}

.post-hash-clickable {
/*  text-decoration: underline;*/
  color: #88c;
  cursor: pointer;
}

.post-hash-clickable:hover {
/*  text-decoration: underline;*/
  color: #bbf;
  cursor: pointer;
}

.reply-link {
  margin-left: 5px;
}

.message {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin-top: 0px;
  margin-bottom: 0px;
/*  color: #800000;*/
}

.post-quote {
/*  color: #a095f1;*/
}

.post-quote:visited {
/*  color: #a095f1;*/
}

.post-quote:hover {
/*  color: #a095f1;*/
}

.message-quote {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #d79;
}

.email {
  color: #9575cd;
}

.replyingsonoinput {
/*  background-color: #f0e0d6;*/
/*  color: #666;*/
  cursor: not-allowed;
}

.omittedreplies {
  margin-top: 5px;
  margin-bottom: 5px;
}

.alert {
  background-color: #ffca28;
  color: #d32f2f;
  border: 2px solid #fbc02d;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
  text-align: left;
  display: inline-block;
  box-shadow: 0 0 10px rgba(211, 47, 47, 0.5);
  animation: shake 0.3s infinite alternate;
}

@keyframes shake {
  from { transform: translateX(-5px); }
  to { transform: translateX(5px); }
}

.dividing-line {
  border: 0;
  height: 1px;
  background-color: #50c;
  margin-bottom: 5px;
  margin-top: 5px;
/*  flex-grow: 1;*/
/*  width: calc(100% - var(--sidebar-width));*/
/*  flex-grow: 1;*/
/*  margin-right: calc(100% - var(--sidebar-width) + 0px);*/
/*  width: calc(200% + 0px);*/
/*  position: fixed;*/
  left: 0;
  margin-left: 0;
}

.embedded-files, .embedded-nothing {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 0px;
}

.embedded-file {
  flex: 0 0 auto;
  margin-bottom: 0px;
}

.embedded-file + .embedded-file {
  margin-left: 5px;
}

.embedded-nothing {
  margin-bottom: 0px;
  margin-top: 0px;
}

.embedded-info {
  overflow-wrap: anywhere;
  max-width: var(--embed-width);
  margin-bottom: 5px;
  margin-top: 0px;
}

.embedded-video {
  max-width: var(--embed-width);
  max-height: var(--embed-width);
  margin-right: 10px;
  margin-bottom: 0px;
}

.embedded-image {
  max-width: var(--embed-width);
  max-height: var(--embed-width);
  margin-top: 0px;
  cursor: pointer;
}

.embedded-image.expanded {
/*  max-width: calc(100vw - (var(--sidebar-width)+100px));*/
  max-width: calc(100vw - var(--sidebar-width) - 120px);
  max-height: 100%;
/*  margin-right: 500px;*/
}

.post.deletion-mode:hover::after, .post_reply.deletion-mode:hover::after, .embedded-file.deletion-mode:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid #d32f2f;
  box-sizing: border-box;
  pointer-events: none;
}

.post.deletion-mode:hover, .post_reply.deletion-mode:hover, .embedded-file.deletion-mode:hover {
  position: relative;
}

.post.deletion-mode *, .post_reply.deletion-mode *, .embedded-file.deletion-mode * {
  pointer-events: none;
}

.watched-boards {
  overflow-wrap: anywhere;
  width: 100%;
}

.watched-board {
  margin-left: 5px;
}

.delete-link {
  display: inline;
  margin-right: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: none;
  color: #d32f2f;
  font-weight: bold;
}

.clientid {
  overflow-wrap: anywhere;
}

.file-icon, .file-not-found-icon {
  font-size: 50px;
}

.green {
  color: #81c784;
}

.red {
  color: #e57373;
}
