:root {
  --embed-width: 250px;
  --embed-height: 250px;
  --sidebar-width: 300px;
}

body {
  background-color: black;
  color: #ddd;
  margin: 0;
  padding: 0;
  display: flex;
  scrollbar-gutter: stable both-edges;
}

a {
  color: thistle;
  text-decoration: none;
  overflow-wrap: anywhere;
}

a:visited {
  color: violet;
  text-decoration: none;
}

a:hover {
  color: lavenderblush;
  text-decoration: underline;
}

.post, .post_reply, .post_catalog {
  background-image: linear-gradient(rebeccapurple,black, black 60%, indigo 150%);
  color: thistle;
  overflow-wrap: anywhere;
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px dotted thistle;
  box-shadow: 0px 0px 0px 2px rba(177, 58, 222, 0.5);
}

.post_reply {
  background-color: black;
}

.post_catalog {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-right: 10px;
}

.post_catalog + .post_catalog {
  margin-right: 10px;
}

.post_catalog > .embedded-files {
  justify-content: center; /* Horizontally center the embedded-files div */
}

.wrapper {
  display: flex;
  flex: 1;
  min-height: 100%;
  height: 100vh;
  overflow: auto;
}

.content {
  flex: 1;
  padding: 15px; 
  color: #ddd;
}

.sidebar {
  display: flex;
  padding: 0px;
  border: 2px dotted orchid;
  background-color:black;
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;/
}

.sidebar-tab {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
/*  width: 5px;*/
  position: var(--sidebar-width);
  width: 5px;
/*  align-self: center;*/
}

.sidebar-content {
    margin: 15px;
    margin-right: 5px;
    width: var(--sidebar-width);
}


.sidebar-header {
  margin-bottom: 5px;
  margin-top: 5px;
}

.post-form {
  width: 100%;
}

.config-form {
  max-width: 250px;
}


.post-form input, .config-form input {
  width: 100%;
  display: inline-block;
  font-family: serif;
  background-image: linear-gradient(rebeccapurple, black 60%, indigo 150%) ;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  border: dotted 1px violet;
}

.control-panel select, .control-panel select option {
  background-image: linear-gradient(rebeccapurple, black 60%, indigo 150%) ;
  color: white;
  background-color: black;
  border: dotted 1px violet;
  font-family: serif;
  max-width: 150px;
}

.post-form textarea, .config-form textarea {
  width: 100%;
  display: inline-block;
  font-family: serif;
  background-image: linear-gradient(rebeccapurple,black, black 60%, indigo 150%) ;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  border: dotted 1px violet;
  height: 100px;
}

.post-form span,
.post-form button,
.config-form span,
.config-form button, {
  width: 100%;
/*  font-family: serif;*/
  display: inline-block;
}

.sidebarbutton {
/*  border-radius: 0px;*/
  font-family: serif;

}

.control-panel input {
  width: 100%;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  border: dotted 1px violet;
}

.post-header {
  margin-top: 0px;
  margin-bottom: 5px;

}

.subject {
  color: violet;
  margin-right: 5px;
  overflow-wrap: anywhere;
}

.name {
  color: lightgoldenrodyellow;
  margin-right: 5px;
}

.namewithlink {
  color: yellow;
  margin-right: 5px;
}

.date {
  color: lightsteelblue;
  margin-right: 5px;
}

.post-hash {
  color: mediumslateblue;
}

.post-hash-clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reply-link {
  margin-left: 5px;
}

.message {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ddd;
}

.post-quote {
  color: #a095f1;
}

.post-quote-clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}


.message-quote {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin-top: 0px;
  margin-bottom: 0px;
  color: violet;
}


.email {
  color: #9575cd;
}


.omittedreplies {
  margin-top: 5px;
  margin-bottom: 5px;
}

.alert {
  background-color: #ffca28;
  color: #d32f2f;
  border: 2px solid #fbc02d;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
  text-align: left;
  display: inline-block;
  box-shadow: 0 0 10px rgba(211, 47, 47, 0.5);
  animation: shake 0.3s infinite alternate;
}

@keyframes shake {
  from { transform: translateX(-5px); }
  to { transform: translateX(5px); }
}

.board-stats-table {
  text-align: center;
}

.dividing-line {
  border:4;
  background-color: black;
  height: 3px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.embedded-files, .embedded-nothing {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 0px;
}

.embedded-file {
  flex: 0 0 auto;
/*  margin-right: 10px;*/
  margin-bottom: 0px;
}

.embedded-file + .embedded-file {
  margin-left: 5px;
}

.embedded-nothing {
  margin-bottom: 0px;
  margin-top: 0px
}

.embedded-info {
  overflow-wrap: anywhere;
  max-width: var(--embed-width);
  margin-bottom: 5px;
  margin-top: 0px
}

.embedded-image {
  max-width: var(--embed-width);
  max-height: var(--embed-height);
  margin-top: 0px;
  cursor: pointer;
}

.embedded-image.expanded {
  max-width: calc(100vw - var(--sidebar-width) - 110px);
  max-height: 100%;
}

.post.deletion-mode:hover::after, .post_reply.deletion-mode:hover::after, .post_catalog.deletion-mode:hover::after, .embedded-file.deletion-mode:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid #d32f2f;
  box-sizing: border-box;
  pointer-events: none;
}

.post.deletion-mode:hover, .post_reply.deletion-mode:hover, .post_catalog.deletion-mode:hover, .embedded-file.deletion-mode:hover {
  position: relative;
}

.post.deletion-mode *, .post_reply.deletion-mode *, .post_catalog.deletion-mode *, .embedded-file.deletion-mode * {
  pointer-events: none;
}

.watched-boards {
  word-wrap: break-word;
}

.watched-board {
  margin-left: 10px;
}

.delete-link {
  display: inline;
  margin-right: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: none;
  color: #d32f2f;
  font-weight: bold;
}

