:root {
  --embed-width: 250px;
  --embed-height: 250px;
  --sidebar-width: 300px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eee;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  color: #FF6600;
  text-decoration: none;
  overflow-wrap: anywhere;
}

a:visited {
  color: #FF6600;
  text-decoration: none;
}

a:hover {
  color: #FF3300;
  text-decoration: underline;
}

h1 {
  color: #86c5da;
}

p {
  color: #333;
}

.container {
  text-align: center;
}

.sidebarbutton {
  background-color: #ccc;
  border: none;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebarbutton:hover {
  background-color: #eee;
}

.post, .post_reply {
  background-color: #ddd;
  color: #333;
  overflow-wrap: anywhere;
  display: inline-block;
  padding: 10px;
  margin-bottom: 5px;
  border: 2px solid #ccc; /* Example border color */  margin-top: 5px;
}

.post_reply {
  background-color: #ddd;
}

.wrapper {
}

.content {
  padding: 10px 20px;
  margin-right: calc(var(--sidebar-width) + 40px);
  color: #333;
}

.sidebar {
  width: var(--sidebar-width);
  padding: 20px;
  background-color: #ddd;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.sidebar-header {
  margin-bottom: 5px;
  margin-top: 5px;
}

.post-form {
  width: 100%;
}

.config-form {
  max-width: 250px;
}

.post-form input, .config-form input {
  width: 100%;
  display: inline-block;
  background-color: #eee;
  color: #333;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
}

.control-panel select, .control-panel select option {
  color: #333;
  background-color: #eee;
  max-width: 150px;
}

.post-form textarea, .config-form textarea {
  width: 100%;
  display: inline-block;
  background-color: #eee;
  color: #333;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
  height: 150px;
}

.control-panel input {
  width: 100%;
  display: inline-block;
  background-color: #eee;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
}


.post-header {
  margin-top: 0px;
  margin-bottom: 5px;

}

.subject {
  color: #111;
  margin-right: 5px;
  font-weight: bold;
}

.name {
  color: #004A99;
  margin-right: 5px;
  font-weight: bold;
}

.namewithlink {
  color: #34345c;
  margin-right: 5px;
  font-weight: bold;
}

.date {
  color: #333;
  margin-right: 5px;
}

.post-hash-clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reply-link {
  margin-left: 5px;
}

.message {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin-top: 0px;
  margin-bottom: 0px;
}

.post-quote {
  color: #FF6600;
}

.post-quote:visited {
  color: #FF6600;
}

.post-quote:hover {
  color: #FF6600;
}

.message-quote {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #789922;
}

.email {
  color: #004A99;
}

.replyingsonoinput {
  background-color: #f48fb1;
  color: #666;
  cursor: not-allowed;
}

.omittedreplies {
  margin-top: 5px;
  margin-bottom: 5px;
}

.alert {
  background-color: #ffca28;
  color: #d32f2f;
  border: 2px solid #fbc02d;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
  text-align: left;
  display: inline-block;
  box-shadow: 0 0 10px rgba(211, 47, 47, 0.5);
  animation: shake 0.3s infinite alternate;
}

@keyframes shake {
  from { transform: translateX(-5px); }
  to { transform: translateX(5px); }
}

.dividing-line {
  border: 0;
  height: 2px;
  background-color: #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
}

.embedded-files, .embedded-nothing {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 0px;
}

.embedded-file {
  flex: 0 0 auto;
/*  margin-right: 10px;*/
  margin-bottom: 0px;
}

.embedded-nothing {
  margin-bottom: 0px;
  margin-top: 0px
}

.embedded-info {
  overflow-wrap: anywhere;
  max-width: var(--embed-width);
  margin-bottom: 5px;
  margin-top: 0px
}


.embedded-image {
  max-width: var(--embed-width);
  max-height: var(--embed-height);
  margin-top: 0px;
  cursor: pointer;
}

.embedded-image.expanded {
  max-width: calc(100vw - var(--sidebar-width) - 120px);
  max-height: 100%;
}

.post.deletion-mode:hover::after, .post_reply.deletion-mode:hover::after, .embedded-file.deletion-mode:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid #d32f2f;
  box-sizing: border-box;
  pointer-events: none;
}

.post.deletion-mode:hover, .post_reply.deletion-mode:hover, .embedded-file.deletion-mode:hover {
  position: relative;
}

.post.deletion-mode *, .post_reply.deletion-mode *, .embedded-file.deletion-mode * {
  pointer-events: none;
}

.watched-board {
  margin-left: 5px;
}

.delete-link {
  display: inline;
  margin-right: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: none;
  color: #d32f2f;
  font-weight: bold;
}

.clientid {
  overflow-wrap: anywhere;
  color: #004A99;
}

.file-icon, .file-not-found-icon {
  font-size: 50px;
}

.green {
  color: #81c784;
}

.red {
  color: #e57373;
}
